<html>
<head>
    <title>Update <%= resume.resume_name%></title>
</head>
<body>
<h1>Update <%= resume.resume_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Skills: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    Company: <input id="first_name" name="first_name" type="text" value="<%= account.first_name%>"/>
    Schools: <input id="last_name" name="last_name" type="text" value="<%= account.last_name%>"/>
    <br />
    <br />
    <br />
    <input type="submit" />

</form>
</body>

</html>