<html>
<head>
    <title>Teams - <%= result[0].team_name %></title>
</head>
<body style="background-color:powderblue;">
<h1>Teams</h1>
<ul>


    <li> Team name: <%= result[0].team_name %></li>
    <li> City: <%= result[0].city %></li>
    <li> Country: <%= result[0].country %></li>
    <li> League: <%= result[0].league %></li>
    <li> Location: <%= result[0].rating %></li>
</ul>
</body>

</html>
