<html>
<head>
    <title>Add New team</title>
</head>
<body style="background-color:powderblue;">
<h1>Add New team</h1>
<form action="/team/insert" method="get">

    Team name: <input id="team_name" name="team_name" type="text" value="<%= team.team_name%>"/>
    City: <input id="city" name="city" type="text" value="<%= team.city%>"/>
    Country: <input id="country" name="country" type="text" value="<%= team.country%>"/>
    League: <input id="league" name="league" type="text" value="<%= team.league%>"/>
    Rating: <input id="rating" name="rating" type="text" value="<%= team.rating%>"/>

    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>