<html>
<head>
    <title>Stadium</title>
</head>
<body style="background-color:powderblue;">
<h1>Stadium</h1>


<br />

<table border="1">
    <tr><th>Name</th><th>Size</th><th>Commodities</th><th>Attendence</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/stadium/?stadium_id=<%= result[i].stadium_id %>"><%= result[i].stadium_name %></a></td>
        <td><%= result[i].size %></td> <td><%= result[i].commodities %></td> <td><%= result[i].attendence %></td>

            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>