<html>
<head>
    <title>Update <%= stadium.stadium_name%></title>
</head>
<body>
<h1>Update <%= stadium.stadium_name%></h1>
<form action="/stadium/update" method="get">
    <input type="hidden" id="stadium_id" name="stadium_id" value="<%= sctadium.stadium_id %>">
    Stadium Name: <input id="stadium_name" name="stadium_name" type="text" value="<%= stadium.stadium_name%>"/>
    Commodities: <input id="commodities" name="commodities" type="text" value="<%= stadium.commodities%>"/>
    Attendence: <input id="attendence" name="attendence" type="text" value="<%= stadium.attendence%>"/>
    Size: <input id="size" name="size" type="text" value="<%= stadium.size%>"/>
    <br />
    <br />
    Stadiums
    <select id="stadium_id" name="stadium_id">
        <% for(var i=0; stadium.length > i; i++ ) {
            var selected = "";
            if(stadium[i].stadium_id == stadium.stadium_id) {
                selected = "selected";
            }
        %>
        <option value="<%= stadium[i].stadium_id %>" <%= selected %>><%= stadium[i].stadium_name %></option>
        <% } %>
    </select>

    <br />

    <input type="submit" />

</form>
</body>

</html>