<html>
<head>
    <title>Stadium - <%= result[0].stadium_name%></title>
</head>
<body>
<h1>Stadium</h1>
<ul>

    <li>Stadium Name: <%= result[0].stadium_name %></li>
    <li>Size: <%= result[0].size %></li>
    <li>Accommodations: <%= result[0].commodities %></li>
    <li>Attendence: <%= result[0].attendence %></li>
</ul>
</body>

</html>