<html>
<head>
    <title>Game - <%= result[0].play_date %></title>
</head>
<body style="background-color:powderblue;">
<h1>Match</h1>
<ul>

    <li> Match Date: <%= result[0].play_date %></li>
    <li> Match Time: <%= result[0].game_time %></li>
    <li> Final Score: <%= result[0].final_score %></li>
    <li> Location: <%= result[0].location %></li>
</ul>
</body>

</html>
