<html>
<head>
    <title>Player - <%= result[0].last_name %></title>
</head>
<body>
<h1>Player</h1>
<ul>

    <li> First Name: <%= result[0].first_name %></li>
    <li> Last Name: <%= result[0].last_name %></li>
    <li> Number of goals: <%= result[0].number_goals %></li>
    <li> age: <%= result[0].age %></li>
</ul>
</body>

</html>