<html>
<head>
    <title>Player</title>
</head>
<body style="background-color:powderblue;">
<h1>Player</h1>
<a href="/player/add">Add New player</a> <br />
<br/>

<table border="1">
    <tr><th>Name</th><th>Number of Goals</th><th>Age</th> <th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/player/?player_id=<%= result[i].player_id %>"><%= result[i].first_name + ' ' + result[i].last_name%></a></td>
        <td><%= result[i].number_goals %></td> <td><%= result[i].age %></td>

        <td><form action="/player/delete/">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
                <button onclick="event.preventDefault();window.location.href='/player/edit2/?player_id=<%= result[i].player_id %>'">Edit Player</button>

            </form>
        </td>

    </tr>
    <% } %>
</table>
</body>

</html>